<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/tic_tac_toe_image"
        android:label="TicTacToe"
        android:roundIcon="@drawable/tic_tac_toe_image"
        android:supportsRtl="true"
        tools:targetApi="31"
        android:theme="@style/Theme.AppCompat.Light"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        tools:replace="android:appComponentFactory">
        <activity android:name="com.safdar.myapplication.ui.view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.safdar.myapplication.ui.view.TicTacToe"
            android:exported="true"
            android:label="Start The Game"/>
        <activity android:name="com.safdar.myapplication.ui.view.GamePage"
            android:exported="true"
            android:label="Game_page"/>
        <activity android:name="com.safdar.myapplication.ui.view.LearningTicTacToe"
            android:exported="true"
            android:label="LearnToPlay"/>
        <activity android:name="com.safdar.myapplication.ui.view.AboutUs"
            android:exported="true"
            android:label="LearnToPlay"/>
        <activity android:name="com.safdar.myapplication.ui.view.Bot"
            android:exported="true"
            android:label="Play With Bot"/>
        <activity android:name="com.safdar.myapplication.ui.view.OnlineCodeGenerator"
            android:exported="true"
            android:label="Play With Bot"/>
        <activity android:name="com.safdar.myapplication.ui.view.OnlineGamepage"
            android:exported="true"
            android:label="Play With Bot"/>
        <activity android:name="com.safdar.myapplication.ui.view.TicTacToeOfflineMode"
            android:exported="true"
            android:label="Play With Bot"/>
        <activity android:name="com.safdar.myapplication.ui.view.TicTacToeOnlineMode"
            android:exported="true"
            android:label="Play With Bot"/>
    </application>

</manifest>